
.heading {
    background-color: rgb(185, 66, 22);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.form_container {
    width: 80%;
    margin: 5rem auto;
}

form.payment_form {
    padding: 1rem;
    margin: 1rem ;
}

.paymentImg_container {
    display: none;
    width: 400px;
}

.paymentImg_container img {
    border-radius: 4rem 2rem 5rem;
    width: 100%;
    
}

form.payment_form label {
    display: block;
    margin: 0.5rem 0;
}

form.payment_form input {
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 100%;
}

form.payment_form input:focus {
    outline: none;
}

.payment_btn {
    background-color: rgb(25, 63, 59);
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    border-radius: 4rem;
    font-weight: 700;
    padding: 0.9rem 3rem;
    margin: 1rem auto;
    transition: 0.5s ease-in-out all;
}

.payment_btn:hover {
    opacity: 0.75;
} 

@media (min-width: 764px){
.form_container {
    display: flex;
    width: 80%;
    margin: 5rem auto;
}
    
form.payment_form {
    flex: 1;
    padding: 1rem;
    margin: 1rem;
}
.paymentImg_container {
    display: block;
    flex: 1;
}

}