.transaction_subheading{
    background-color: rgb(185, 66, 22);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
}
.transaction_section {
    width: 350px;
    margin: -3rem auto 0;
    line-height: 2;
}

.transaction_list {
    box-shadow: 0 2px 5px gray;
    list-style: none;
    line-height: 2;
    padding: 1rem;
    margin: 1rem 0;
}

.customer_name {
    text-transform: uppercase;
    color: rgb(185, 66, 22);
}

.flex {
    display: flex;
    justify-content: space-between;
}
.fetch{
    background-color: rgb(25, 63, 59);
    border: none;
    border-radius: 4rem;
    color: #fff;
    font-weight: 700;
    display: block;
    margin: 1.5rem auto 2rem;
    padding: 0.9rem 3rem;
    text-transform: uppercase;
    transition: 0.5s ease-in-out all;
}
.fetch:hover{
    opacity: 0.75;
}
@media (min-width: 764px){
    
.transaction_section {
    width: 700px;
    margin: auto;
    line-height: 2;
 }
    
}